<h1>Profiles/show</h1>

<% if current_user == @profile.user %>
  <%= link_to 'edit profile', edit_profile_path(@profile) %>
<% end %>

<h3><%= @profile.first_name %></h3>
<h3><%= @profile.last_name %></h3>
<h3><%= @profile.phone_number %></h3>


