<h1>Reservations/new</h1>

  <%= simple_form_for @reservation do |f| %>
        <%= f.input :booked_from %>
        <%= f.input :booked_to %>
        <%= f.submit "New reservation" class: 'btn btn-primary' %>
      <% end %>
