// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "home";
@import "cards";
@import "profile";
@import "hover";

h2{
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
}
.title{
  font-weight: 900;
  font-size: 40px;
}
.container{
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: 150px;
  margin-left: 150px;
}

.simple_form {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  text-align: left;
}

.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}




