// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "home";
@import "cards";
@import "profile";
@import "hover";


h2 {
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
}
.title{
  font-weight: 900;
  font-size: 40px;
}

.flexview{
  display: flex;
}

.search{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
}
.container{
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: 150px;
  margin-left: 150px;
}

.simple_form {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  text-align: left;
  box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.8);
  background-color: #E8E8E8;
}

.avatar-bordered {
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  margin-top: -40px;
}

.margin_btn
{
margin-left: 33%;
}
.btn
{
border-radius: 5%;
}

.align_form
{
text-align: center;
}

.boat_card
{
background-color: #E8E8E8;
box-shadow: 1px 1px 3px rgba(150, 150, 150, 0.8);
padding: 20px;
margin: 15px 20px;
}

.flex-container {
  display: flex;
}



