// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "home";
@import "cards";


h2{
  margin-bottom: 30px;
  margin-top: 50px;
}
.title{
  font-weight: 900;
  font-size: 40px;
}
.container{
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: 150px;
  margin-left: 150px;
}

.list{

}
