.profile_style

{
display: inline-block;
justify-content: space-between;
align-items: center;
}

.card-user-infos
{
justify-content: space-between;
align-items: center;
background-color: #E8E8E8;
box-shadow: 1px 1px 3px rgba(150, 150, 150, 0.8);
padding: 20px;

}


.profile_flex3
{
margin-top: 10px;
}

