<h1>Availibilities/new</h1>

<%= simple_form_for [@boat, @availibility] do |f| %>
  <%= datepicker_input form, :available_from%>
  <%= datepicker_input form, :available_to%>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

