
<h1>Availibilities for your boat</h1>

<%= simple_form_for [@boat, @availibility]  do |f| %>
<%= f.input :date_attribute, :as :datepicker %>
<%= f.input :date_attribute, :as :datepicker %>
<%= f.submit "Confirm your availibility" %>



